<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="312491e0-0f18-44e6-af8c-e2b944bc7548"
            Publisher="CN=Davis"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="312491e0-0f18-44e6-af8c-e2b944bc7548" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>BoneViz</DisplayName>
    <PublisherDisplayName>Davis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Holographic" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10586.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BoneViz.AppView">
        <uap:VisualElements
             DisplayName="BoneViz"
             Square150x150Logo="Assets\Square150x150Logo.png" 
             Square44x44Logo="Assets\Square44x44Logo.png" 
             Description="BoneViz"
             BackgroundColor="#464646">
          <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
          <uap:SplashScreen Image="Assets\SplashScreen.png" />
        </uap:VisualElements>
      </Application>
  </Applications>
</Package>